.courseInformation {
  display: flex;
  gap: 10px;
  justify-content: center;

}

.courseInformation-left {
width: 65%;
  overflow-wrap:break-word;
  margin-top: 10px;
}
.courseInformation-left p {

padding: 10px;
  letter-spacing: 2px;
  margin-left: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

span {
  color: #008CBA;
}

.courseInformation-right {
display: flex;
flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-top: 20px;

}

.courseCard {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-align: center;
width: 391.44px;

}

.courseCard-image img {
  height: 12rem;
  width: 391.44px;
}

  
 
  .courseInformation-btn button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    width: 80px;
    margin-left: 3px;
  }

  .courseInformation-btn button:hover{
    opacity: 0.7;
  }

