.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-Color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.deleteBox-Confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 20rem;
    gap: 10px;
}

h3 {
    color: #111;
    font-size: 16px;
   
}
.deleteModal-btn button
 {
 
    color: white;
    padding: 10px;
    margin-right: 4px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 3.5rem;

}

.yes-btn {
    background: red;
}

.no-btn {
    background: green;
}