.sessionDetails{
    flex: 1;
   margin-top: 10px;
}

.sessionDetails-header{
    display:  flex;
    justify-content: space-around;
   align-items: center;
}

.sessionDetails-header span {
    color:teal
}
.sessionDescription{
    padding: 10px;
}
.back-btn,
.uploadFile-btn{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:teal;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 3px;
  }
  .back-btn:hover,
  .uploadFile-btn:hover{
    opacity: 0.7;
  }

.back-btn{
    background-color:black;

}