.imageSection {
    display: flex;
    height: 100vh;
    position: relative;
   background-image: url("./../../assets/img.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

 .imageSection-continer {
   width: 100%;
    position: absolute;
    top: 0%;
    left:0%;
    background-image: linear-gradient(90deg, rgba(193,0,33,1) 0%, rgba(250,115,19,1) 31%, rgba(200,129,136,1) 83%);
    background-clip: text;
    color: transparent;
   

}
